doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Credenciales
        link(rel="stylesheet", href="/css/bootstrap.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
        link(rel="stylesheet", href="/css/style.css")
    body
    .d-flex.justify-content-center.align-items-center.vh-100
      form(style='width: 21rem; height: 12rem;' action="/logIn" method="POST" noValidate)
        .m-3.mb-2
        h4.text-center La creación de tu cuenta se realizo con éxito
        h3(class="fw-bold fs-6")=mensaje
        <a class="btn btn-primary" href="/" role="button">Regresar al inicio</a>