doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INGRESAR
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
a.btn-regresar(href='/') Regresar
.d-flex.justify-content-center.align-items-center.vh-100
  form(style='width: 21rem; height: 20rem;' action="/logIn" method="POST" noValidate)
    .m-3.mb-2
      input(type="hidden" name="_csrf" value=csrf)
      label.form-label.m-3(for='correo') Correo electronico
      input#usuario.form-control(type='text' placeholder='Ingrese su correo electronico', name="correo")
      label.form-label.m-3(for='password') Contrase&ntilde;a
      input#password.form-control.mb-3(type='password' placeholder='Ingrese tu contraseña', name="password")
      button.btn.btn-primary(type='submit') Ingresar
      label.form-label.m-3(for='usuario') ¿No tienes cuenta? 
      a.u-full-width.button-primary.button(href='/signIn') Registrate