doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INGRESAR
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
a.btn-regresar(href='/') Regresar
.d-flex.justify-content-center.align-items-center.vh-100
  form.position-relative(style='width: 21rem; height: 20rem;')
    .position-absolute.top-0.end-0.m-2
      a.btn.btn-primary(href='/admin') Admin
    .m-3.mb-2
      label.form-label.m-3(for='usuario') Usuario
      input#usuario.form-control(type='text' placeholder='Ingrese tu usuario')
      label.form-label.m-3(for='password') Contrase&ntilde;a
      input#password.form-control.mb-3(type='password' placeholder='Ingrese tu contraseña')
      button.btn.btn-primary(type='submit') Ingresar
      label.form-label.m-3(for='usuario') ¿No tienes cuenta? 
      a.u-full-width.button-primary.button(href='/sign') Registrate

