.letra{
    color: black;
}
body{

    background: radial-gradient(circle, rgba(39,0,176,1) 9%, rgba(18,23,89,1) 64%); 
}
h5{
    text-align: center;
}
form{
    background-color: #fff;
    border-radius: 10%;
    border-color: black;
    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
img{
    display: block;
    margin: auto; 
    height: 100vh;     
}
.btn.btn-primary{
    display: block;
    margin: auto;     
}