doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PLAY STATION 
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
    body(class='p')
    include header
.container
  .row(style='gap: 2rem; padding: 20px;')
    h1 Play Station
    h1
    each con in consolas
      .col
        .card(style='width: 16rem; height: 24rem;')
          h1
          img.card-img-top(src='/img/consolap.jpg' alt='...' style='width: 12rem; height: 12rem;')
          .card-body
            h5.card-title=`${con.nombre}`
            p.card-text=`${con.precio.toFixed(2)}`
            a.btn.btn-primary.mb-2(href='/log') Añadir al carrito 
