doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PLAY STATION 
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
    body(class='p')
    include header
.container
  .row.p-5
    h1 Play Station
    h1
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolap.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Play Station 5
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito 

    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolap2.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Play Station 5 Slim
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito 
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolap3.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Play Station VR 
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito  
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolap4.jpg' alt='...' style='width: 16rem; height: 12rem;')
        .card-body
          h5.card-title Play Station 4
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito 
  .row.p-5
    h1 Xbox 
    h1
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolax.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Xbox Series X 
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolax2.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Xbox Series S 
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolax3.jpg' alt='...' style='width: 14rem; height: 12rem;')
        .card-body
          h5.card-title Xbox One X 
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolax4.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Xbox One S  
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
  .row.p-5
    h1 Nintendo
    h1
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolan.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Nintendo Switch 
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolan2.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Nintendo Switch Oled
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/consolan3.jpg' alt='...' style='width: 12rem; height: 12rem;')
        .card-body
          h5.card-title Nintendo Switch Lite
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-3
      .card(style='width: 16rem; height: 22rem;')
        h1
        h1
        img.card-img-top(src='/img/consolan4.jpg' alt='...' style='width: 10rem; height: 10rem;')
        .card-body
          h5.card-title Nintendo Switch Oled Edición LoZ
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito