doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NINTENDO
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
        script(src="codigo.js")
    body(class='p')
    include header
//- .col-ms-2(style='background-color: black')
//-     h1 hola
.container
  .row(style='gap: 2rem; padding: 20px;')
    each pro in productos
      .col-md-2
        .card(style='width: 14rem; height: 22rem;')
          h1 
          img.card-img-top(src='/img/ds.jpg' alt='...' style='width: 10rem; height: 12rem;')
          .card-body
            h5.card-title=`${pro.nombre}`
            p.card-text=`${pro.precio.toFixed(2)}`
            a.btn.btn-primary(href='/signIn') Añadir al carrito