//- .col-ms-2(style='background-color: black')
//-     h1 hola
.container
  .row.p-5
    .col-md-4
      .card.ms-5(style='width: 16rem; height: 22rem;')
        h1 
        img.card-img-top(src='/img/ds1.jpg' alt='...' style='width: 10rem; height: 12rem;')
        .card-body
          h5.card-title Dark Souls
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-4
      .card.ms-5(style='width: 16rem; height: 22rem;')
        h1
        img.card-img-top(src='/img/halo.jpg' alt='...' style='width: 10rem; height: 12rem;')
        .card-body
          h5.card-title Halo Infinite
          p.card-text $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-4
      .card.ms-5(style='width: 16rem; height: 22rem;')
        h1 
        img.card-img-top(src='/img/gears.jpg' alt='...' style='width: 10rem; height: 12rem;')
        .card-body
          h5.card-title Gears of War
          p.card-text $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
  .row.p-5
    .col-md-4
      .card.ms-5(style='width: 16rem; height: 22rem;')
        h1 
        img.card-img-top(src='/img/dse.jpg' alt='...' style='width: 10rem; height: 12rem;')
        .card-body
          h5.card-title Dead Space
          p.card-text
            | $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
    .col-md-4
      .card.ms-5(style='width: 16rem; height: 22rem;')
        h1 
        img.card-img-top(src='/img/sky.jpg' alt='...' style='width: 10rem; height: 12rem;') 
        .card-body
          h5.card-title Skyrim
          p.card-text $00
          a.btn.btn-primary(href='/signIn') Añadir al carrito
