script(src="codigo.js")
header.navbar.bg-body-tertiary
  .container
    a.navbar-brand.letra.ms-5(href="/") GameStart
    a(href='/xbox')
      img.img-fluid.rounded(src='/img/xbox.jpg' width='40' height='40')
    a(href='/play')
      img.img-fluid.rounded(src='/img/ps5.jpg' alt='Imagen de una PS5' width='40' height='40')
    a(href='/nin')
      img.img-fluid.rounded(src='/img/n.jpg' alt='Bootstrap' width='60' heigt='80')
    a(href='/con')
      img.img-fluid.rounded(src='/img/mando.jpg' alt='Bootstrap' width='40' heigt='40')
    a.form.d-flex(role='search')
    .two.columns
      ul
        li.submenu
          img.img-fluid.rounded(src='/img/carrito.jpg' alt='Imagen de una PS5' width='40' height='40')
          #carrito
            table#lista-carrito.u-full-width
              thead
                tr
                  th Imagen
                  th Nombre
                  th Precio
                  th Cantidad
                  th
              tbody
            a#vaciar-carrito.button.u-full-width(href='#') Vaciar Carrito
    .two.columns   
      input.form-control(type='search' placeholder='Buscar' aria-label='Search')
    .two.columns 
      include ../credenciales/usuario.pug