header.navbar.bg-body-tertiary
  .container-fluid
    a.navbar-brand.letra.ms-5 GameStart
    img.img-fluid.rounded(src='/img/xbox.jpg' width='40' height='40')
    img.img-fluid.rounded(src='/img/ps5.jpg' alt='Bootstrap' width='40' height='40')
    img.img-fluid.rounded(src='/img/n.jpg' alt='Bootstrap' width='60' heigt='80')
    form.d-flex(role='search')
      input.form-control.ms-2(type='search' placeholder='Buscar' aria-label='Search')
      button.btn.btn-outline-success.ms-2(type='submit') Ingresar
      button.btn.btn-outline-success.ms-2(type='submit') Registrar