doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INGRESAR
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
        a.btn-regresar(href='/user/finalizarCompra') Regresar
        if errores
          div(class="row justify-content-center text-bg-danger" )
            div(class="col-md-5") 
              each er in errores
                h1(class="fw-bold fs-6")=er.msg
        .d-flex.justify-content-center.align-items-center.vh-100
          form(style='width: 21rem; height: 29rem;' action="/user/registrarTarjeta" method="POST" noValidate)
            .m-3.mb-2
              input(type="hidden" name="_csrf" value=csrf)
              label.form-label.m-3(for='numero_tarjeta') Número de tarjeta
              input#usuario.form-control(type='text' placeholder='Ingrese su número de targeta', name="numero_tarjeta")
              label.form-label.m-3(for='caducidad') Fecha de caducidad
              input#usuario.form-control(type='text' placeholder='MM/YY', name="caducidad" pattern="(0[1-9]|1[0-2])/\d{2}" title="Formato válido: MM/YY")
              label.form-label.m-3(for='beneficiario') Titular de la tarjeta
              input#usuario.form-control(type='text' placeholder='Ingrese al titular', name="beneficiario")
              label.form-label.m-3(for='cvv') Código de seguridad(CCV)
              input#password.form-control.mb-3(type='password' placeholder='CCV', name="cvv")
              button.btn.btn-primary(type='submit') Guardar