extends ./layout/index
block cuerpocontenido
    div 
        p.text-center=Pagina
    div 
        a(href="/logIn") Log In
        |&nbsp; &nbsp; &nbsp;
        a(href="/signIn") Sign In

    
