doctype html
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Credenciales
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
.d-flex.justify-content-center.align-items-center.vh-100
  form(style='width: 21rem; height: 39rem;')
    .m-3.mb-2
      label.form-label(for='nombre') Nombre
      input#nombre.form-control(type='text' placeholder='Ingrese su nombre')
      label.form-label.m-3(for='ap_paterno') Apellido paterno
      input#ap_paterno.form-control(type='text' placeholder='Ingrese su apellido paterno')
      label.form-label.m-3(for='ap_materno') Apellido materno
      input#ap_materno.form-control(type='text' placeholder='Ingrese su apellido materno')
      label.form-label.m-3(for='usuario') Crea un usuario
      input#usuario.form-control(type='text' placeholder='Ingrese su usuario')
      label.form-label.m-3(for='correo') Correo electr&oacute;nico
      input#correo.form-control(type='email' placeholder='Ingrese su correo electronico')
      label.form-label.m-3(for='password') Crea una contrase&ntilde;a
      input#password.form-control.mb-3(type='password' placeholder='Ingrese una contraseña')
      button.btn.btn-primary(type='button') Registrar