doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Credenciales
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")

.d-flex.justify-content-center.align-items-center.vh-100
  form(style='width: 21rem; height: 18rem;')
    .m-3.mb-2
      label.form-label.m-3(for='usuario') Usuario
      input#usuario.form-control(type='text' placeholder='Ingrese tu usuario')
      label.form-label.m-3(for='password') Contrase&ntilde;a
      input#password.form-control(type='password' placeholder='Ingrese tu contraseña')
      button.btn.btn-primary.m-3(type='button') Ingresar