doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Credenciales
        link(rel="stylesheet", href="/css/bootstrap.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
    body
        h1.text-center=pagina
                div(class="row justify-content-center")
                    div(class="col-md-5")
                    form(class="space-y-5" action="/signIn" method="POST" noValidate)
                        br
                        br
                        div(class="mb-1")
                            label(for="usuario" class="form-label") Usuario
                            input#usuar(class="form-control" type="text" placeHolder="Usuario" name="nombre")
                        div(class="mb-1")
                            button(type="submit" class="btn btn-primary col-auto") Enviar