doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INICIO
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
    body(class='p')  
        script(src="codigo.js")
        header.navbar.bg-body-tertiary
            .container
                a.navbar-brand.letra.ms-5(href="/admin/") GameStart
                .d-flex.align-items-center.gap-3
                    h4 Bienvenido #{usuario.nombre}
                    a.btn.btn-outline-success.me-2(href="/logOut") Salir
        .container
            .row.justify-content-center.align-items-center.p-5
                .col-md-4.d-flex.justify-content-center
                    .card(style='width: 18rem; height: 21rem;')
                        img.card-img-top(src='/img/lista.jpg' alt='...' style='width: 12rem; height: 12rem;')
                        .card-body
                            h5.card-title Lista de productos
                            a.btn.btn-primary(href='/admin/productos') Ingresar

                .col-md-4.d-flex.justify-content-center
                    .card(style='width: 18rem; height: 21rem;')
                        img.card-img-top(src='/img/usu.jpg' alt='...' style='width: 12rem; height: 12rem;')
                        .card-body
                            h5.card-title Lista de usuarios
                            a.btn.btn-primary(href='/admin/usuarios') Ingresar

                .col-md-4.d-flex.justify-content-center
                    .card(style='width: 18rem; height: 21rem;')
                        img.card-img-top(src='/img/ventas.jpg' alt='...' style='width: 12rem; height: 12rem;')
                        .card-body
                            h5.card-title Ventas
                            a.btn.btn-primary(href='/admin/ventas') Ingresar

        
