extends ../layout/index
block cuerpocontenido
    div 
        p.text-center=Pagina
        p.text-center=Inicio
        p.text-center=nmbr
    div 
        a(href="/admin/preview") Preview  
        a(href="/") Salir